@import url(./reset.css);
@import url(./variables.css);
@import url(./icon.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

body{

    background-color: var(--bluegrey-50);

    font-family: var(--font-family);
    font-weight: 400;

    height: 100vh;

    display: grid;
    grid-template-columns: 250px auto;
}