.icon-pizza::before{
    content:"\f818" !important;
    font-family: var(--font-icon);
}

.icon-drink::before{
    content:"\f4e3" !important;
    font-family: var(--font-icon);
}

.icon-portion::before{
    content:"\f6d7" !important;
    font-family: var(--font-icon);
}

.icon-burger::before{
    content:"\f805" !important;
    font-family: var(--font-icon);
}

.icon-search::before{
    content:"\f002" !important;
    font-family: var(--font-icon);
}

.icon-plus::before{
    content:"\2b" !important;
    font-family: var(--font-icon);
}

.icon-minus::before{
    content:"\f068" !important;
    font-family: var(--font-icon);
}

.icon-check::before{
    content:"\f00c" !important;
    font-family: var(--font-icon);
}

.icon-trash::before{
    content:"\f2ed" !important;
    font-family: var(--font-icon);
}

.icon-edit::before{
    content:"\f304" !important;
    font-family: var(--font-icon);
}

.icon-arrow-left::before{
    content:"\f104" !important;
    font-family: var(--font-icon);
}

.icon-arrow-right::before{
    content:"\f105" !important;
    font-family: var(--font-icon);
}

.icon-arrow-up::before{
    content:"\f077" !important;
    font-family: var(--font-icon);
}

.icon-arrow-down::before{
    content:"\f078" !important;
    font-family: var(--font-icon);
}

