.button{
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    min-width: 40px;
    min-height: 40px;
}

.button:hover{
    background-color: var(--grey-50);
    cursor: pointer;
}

.button-icon::before{
    content: "";
    font-size: 1rem;
    
}

.button-icon-text::before{
    content: "";
    font-size: 1rem;
    margin-right: 1em;
}

.button-blue{
    background-color: var(--blue-800);
    color: var(--grey-50);
}

.button-bluegrey:hover{
    background-color: var(--bluegrey-800);
    cursor: pointer;
}

.button-bluegrey{
    background-color: var(--bluegrey-600);
    color: var(--grey-50);
}

.button-bluegrey-dark:hover{
    background-color: var(--grey-50);
    color: var(--bluegrey-900);
    cursor: pointer;
}

.button-bluegrey-dark{
    background-color: var(--bluegrey-800);
    color: var(--grey-50);
}

.button-blue:hover{
    background-color: var(--blue-900);
    cursor: pointer;
}

.button-red{
    background-color: var(--red-800);
    color: var(--grey-50);
}

.button-red:hover{
    background-color: var(--red-900);
    cursor: pointer;
}

.button-green{
    background-color: var(--green-800);
    color: var(--grey-50);
}

.button-green:hover{
    background-color: var(--green-900);
    cursor: pointer;
}

.button-white{
    background-color: var(--grey-50);
    color: var(--bluegrey-900);
}

.button-white:hover{
    background-color: var(--grey-200);
    cursor: pointer;
}

.buttonUpNumber{
    position: absolute;
    bottom: 1.5em;
    right: .5em;
    height: 40px;
    width: 40px;
    border: 0;
    border: 1px solid var(--bluegrey-800);
    box-sizing: border-box;
    border-radius: 5px;
}

.buttonDownNumber{
    position: absolute;
    bottom: 1.5em;
    left: .5em;
    height: 40px;
    width: 40px;
    border: 0;
    border: 1px solid var(--bluegrey-800);
    box-sizing: border-box;
    border-radius: 5px;
}

#submit-size{
    grid-column: span 2;
}