.list{
    display: grid;
    row-gap: 1.5em;
    grid-template-rows: 80px auto; 
}

.list__header{
    background-color: var(--bluegrey-600);
    color: var(--grey-900);
    padding: 0 1em;
    display: flex;
    align-items: center;
    grid-row: 1;
}

.list__search{
    position: relative;
    grid-column: span 3;
}

.list__content{
    display: grid;
    row-gap: 1.5em;
    grid-template-rows: repeat(4, 73px); 
}

.list__row{
    padding: 0.8em;
}

.list__row:hover{
    cursor: pointer;
    background-color: var(--bluegrey-500);
    color: var(--grey-50);
}

.list__row-select{
    background-color: var(--bluegrey-600);
    color: var(--grey-50);
}

.list__header, .list__row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    
    box-sizing: border-box;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
} 

.list__footer{
    background-color: var(--bluegrey-600);
    color: var(--grey-900);
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    grid-row: 6;
}

.col-1{
    justify-self: flex-start;
    align-self: center;
}

.col-2{
    justify-self: flex-start;
    align-self: center;
}

.col-3{
    justify-self:  flex-end;
    align-self: center;
}

.col-span-2{
    grid-column: span 2;
}

.col{
    grid-column: span 3;
    justify-self:  center;
    align-self: center;
}

.navButtonList-select{
    
}